a {
color: black;
}

a:hover {
  color: pink;
  border-bottom: none;
}

p {width: 50%;
  margin: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: left;
margin-left: auto;
margin-right: auto;

}

li {
  font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Candal', sans-serif;

}

.center-align {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

h2, h3, h4, pre, code {
font-family: 'Candal', sans-serif;
font-size: 24px;
width: 50%;
margin: 310px;
margin-bottom: 50px;
margin-top: 50px;
  }

h1 {
font-family: 'Candal', sans-serif;
font-size: 30px;
width: 50%;
margin: 40px;
margin-bottom: 50px;
margin-top: 50px;
  }





  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background: #fadadd;
  color: grey;
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*typed in class*/

ul {
  font-family: 'Open Sans Condensed', sans-serif;
  color: grey;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

    #toc {
      position: fixed;
      top: 1em;
      left: 54em;
      /* a background color might help it be differentiated from the rest */
      background: white;
      /* that means you'll have to change the color of the text */
      color: #587E20;
      /* some padding might make it look better */
      padding: 1em;
      /* maybe making the font size here smaller will help too */
      font-size: 0.9em;
      color: pink;
    }

    #grad {
  background-image: linear-gradient(red, yellow);
}


/*notcurrentlt working*/
    imagery-block { opacity: 0.5;
      filter: alpha (opacity=50); /* For IE8 and earlier */
    }

    imagery-block:hover {
    color:purple;
  }

    #imagery-block {
      color:purple;
    }
