a {
color: black;
}

a:hover {
  color: pink;
  border-bottom: none;
}

/*p {
  width: 80%;
  margin: 40px;
  font-size: 40px;
  margin-bottom: 100px;
  margin-top: 50px;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
} */

p {
  display: block;
  color: black;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

li {
font-family: 'Candal', sans-serif;
margin-bottom: 10px;
}

.center-align {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

h2, h3, h4, pre, code {
font-family: 'Candal', sans-serif;
font-size: 40px;
width: 80%;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;
margin-top: 50px;
  }

h1 {
  color: black;
font-family: 'Candal', sans-serif;
font-size: 50px;
width: 100%;
margin: 40px;
margin-bottom: 50px;
margin-top: 50px;
  }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background: #fadadd;
  color: black;
  font-size: 22px;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*typed in class*/

.hello {
  display: block;
  margin-left: 35px;
  margin-right: 300px;
  margin-bottom: 150px;

}


]

ul {
  font-family: 'Open Sans Condensed', sans-serif;
  color: grey;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}


/*table of contents*/
    #toc {
      position: fixed;
      top: 1em;
      left: 54em;
      /* a background color might help it be differentiated from the rest */
      background: ;
      /* that means you'll have to change the color of the text */
      color: #587E20;
      /* some padding might make it look better */
      padding: 1em;
      /* maybe making the font size here smaller will help too */
      font-size: 0.9em;
      color: pink;
    }

    #grad {
  background-image: linear-gradient(red, yellow);
}




/*notcurrentlt working*/
    imagery-block { opacity: 0.5;
      filter: alpha (opacity=50); /* For IE8 and earlier */
      margin-bottom: 350px;
    }

    imagery-block:hover {
    color:purple;
    margin-bottom: 350px;


  }

  center {
    margin-bottom: 300px;

  }

    #imagery-block {
      margin-bottom: 300px;
      color: purple;
    }
